* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    width:100%;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(-30deg, #1ec4e9 0%, #673ab7 50%, #262626 50%, #607d8b 100%);
    font-family: sans-serif;
}
header {
    display: flex;
    font-size: 1rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height:30%;
    width: 100%;
    color: white;
    font-family:cursive;
}
main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border:0rem solid white;
    border-style: solid none;
    height:40%;
    width:100%;
}
#container {
    width: 50%;
    height: auto;
    padding: 0 0;
    transform-style: preserve-3d;
    transition: all 0.5s ease-out;
}
footer {
    height:30%;
    background-clip: red;
}
header, main, footer {
    transition: height 0.3s linear;
}
div.flex{
    display:none;
    height : 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 100%;
    max-width: 600px;
    transition: opacity 0.5s ease;
}
.shine{
    width: 14em;
    height: 2.5em;
    color:#fff;
    font-family: sans-serif;
    letter-spacing: 4px;
    font-size:1em;
    border: none;
    margin:0.4em;
    transition: transform 0.1s linear;
    background: rgba(255,255,255,0.1);
    overflow: hidden;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 0.25rem 0.25rem rgba(0,0,0,0.2);
}
.shine:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255,0.1);
}
.shine:after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255,255,255,.4), transparent);
    transition: 0.5s;
    transition-delay: 0s;
}
.shine:hover:after {
    left: 100%;
}
.shine span {
    position: absolute;
    display: block;
    transition: 0.5s ease;
}
h1#mq{
    margin-bottom: 1rem;
    display:none;
    opacity: 0;
    width:100%;
    text-align:center;
    position: absolute;
    top: 10vh;
    background: rgb(255,255,255,0.1);
}
#input {
    display:none;
    flex-direction: column;
    position: relative;
}
#contain {
    position: fixed;
    display:none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity:0;
    transition: opacity 0.6s linear;
}
.pop {
    width:90vw;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    text-align: justify;
    flex-direction: column;
    backdrop-filter: blur(15px);
    position: fixed;
    height:70vh;
    overflow: hidden;
    opacity: 0;
    background-color: rgba(143, 142, 142, 0.199);
    border:none;
    border-radius: 0;
    box-shadow: 0 2vh 20vh rgba(0,0,0,1);
    backdrop-filter: brightness(120%);
}
.close {
    border: none;
    position: absolute;
    outline: none;
    background: rgba(0, 153, 255, 0.349); 
    font-size: 1.2rem;
    font-family: cursive;
    width: clamp(20px, 5vw, 40px);
    height: clamp(20px, 5vh, 60px);
    border-radius: 0.2rem;
    color: rgb(0, 0, 0);
    cursor: pointer;
    top: 0;
    right: 0;
    transition: 0.05s ease-out;
}
.close:hover {
    background: rgba(0, 0, 0, 0.308); 
    color: rgb(0, 89, 255);

} 
p{
    color: rgb(207, 199, 199);
    font-family: sans-serif;
    letter-spacing: 0.1rem;
}
#htext {
    display: none;
}
#home {
    display:none;
    position: relative;
    flex-direction: column;
    transition: opacity 0.5s ease, transform 0.5s ease-in;
}
#options {
    display:none;
    position: relative;
    flex-direction: column;
}
#qboard {
    position: fixed;
    width: 100vw;
    max-width: 1000px;
    height: 100vh;
    max-height: 500px;
    background: rgba(255, 255, 255, 0.068);
    display: none;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px) grayscale(0.2);
    box-shadow: -2rem 1.5rem 1.5rem rgba(0, 0, 0, 0.493);
}
#ans {
    height: 40%;
    position: absolute;
    bottom: 0;
    width: 100%;
}
#quest {
    display:flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    width: 100%;
    height: 60%;
    position: absolute;
    top: 0;
}
div.chs {
    width: 25%;
    height: 40%;
    color: white;
    font-size: 2rem;
    position: absolute;
    background-color: rgb(255,255,255,0.15);
    transition: all 0.3s ease, scale 0.3s ease;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -0.2rem 0.3rem 0.7rem rgba(0,0,0,0.4);
    cursor: pointer;
    border-top: 0.007rem solid rgba(255,255,255,0.5);
    border-left: 0.007rem solid rgba(255,255,255,0.5);
    font-family: cursive;
}
div.chs:before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent 0%, rgba(255,255,255,.3) 40% ,rgba(255,255,255,.3) 60% , transparent 100%);
    transition: all 0.3s ease;
}
div.chs:hover {
    transform: rotateY(18deg);
    scale: 1.05;
    box-shadow: -0.2rem 0.3rem 1rem rgba(0,0,0,0.35);
}
div.chs:hover:before {
    left: -100%;
}
div.chs:nth-child(1) {
    bottom: 5%;
    left: 20%;
}
div .chs:nth-child(2) {
    bottom: 5%;
    right: 20%;
}
div .chs:nth-child(3) {
    top: 5%;
    left: 20%;
}
div .chs:nth-child(4) {
    top: 5%;
    right: 20%;
}
#question {
    width: 80%;
    height: 60%;
    top: 7.5%;
    display:flex ;
    position: absolute;
    color: white;
    font-size: 4rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(255,255,255,0.1);
    position: absolute;
    font-family: cursive;
    box-shadow: 10px 10px 50px 1px rgba(94, 94, 94, 0.377);
}
#block {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: transparent;
    display: none;
    z-index: 7;
}
.score {
    display: none;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vh;
    height: 70vh;
    max-width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: grayscale(0.3) blur(7px);
    box-shadow: -2rem 1.5rem 1.5rem rgba(0, 0, 0, 0.493);
    transform-style: preserve-3d;
}
.confirm {
    position: fixed;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(15px);
    display: none;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transition: opacity 0.2s linear;
}
.confirm-box {
    display: fixed;
    width: 40vw;
    min-width: 300px;
    max-width: 400px;
    height: 40vh;
    min-width: 300px;
    min-height: 200px;
    padding: 1rem;
    color: white;
    background: rgba(0, 0, 0, 0.212);
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.24);
    border-radius: 1rem;
    backdrop-filter: brightness(400%);
    animation: open 0.2s ease-out;
    transform-style: preserve-3d;
}
.sure {
    font-size: 1.5em;
    color: white;
    text-align: center;
    padding: auto 1rem;
    text-transform: capitalize;
}
.c-btns {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.conf {
    color: white;
    padding: 0.5em;
    font-size: inherit;
    text-transform: uppercase;
    background: rgba(60, 114, 105, 0.397);
    width: 40%;
    border: 1px solid rgba(255, 255, 255, 0.219);
    outline: none;
    border-radius: 0.7rem;
    cursor: pointer;
    transition: all 0.2s linear;
}
.conf:hover {
    border-radius: 0.1rem;
}
p.gameOver {
    font-size: 3rem;
    font-weight: lighter;
    margin-bottom: 5vh;
}
p.final {
    size: 4em;
}
.time {
    position: absolute;
    top: 0;
    left: 0;
    height: 3%;
    width: 100%;
    background: rgb(224, 43, 43);
    display: none;
    z-index: 7;
}
#back2 {
    width: 100px;
    height: 10%;
    font-size: 1rem;
    bottom: 0;
    z-index: 10;
}
.width-transform {
    transition: width 0.3s ease-out;
}
#tools {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    bottom: 5%;
    height: 25%;
    width: 100%;
    position: absolute;
}
button.tool {
    width: 15%;
    height: 60%;
    color: white;
    background: rgba(144, 170, 96, 0.2);
    border: none;
    text-transform: uppercase;
    box-shadow: -0.2rem 0.3rem 1rem rgba(0,0,0,0.2);
    cursor: pointer;
    font-size: 0.8em;
    overflow: hidden;
    border-radius: 0.2rem;
    transition:1.2s;
    letter-spacing: 0.1rem;
    animation: float 2s ease infinite;
}
@media all and (min-width: 500px) {
div.transit {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: transparent;
    display: none;
    justify-content: space-around;
    z-index: 2;
    flex-wrap: wrap;
}
div.cover {
    width: 12.5%;
    height: 0;
    background: linear-gradient(rgb(100, 205, 212) 0%, rgb(10, 142, 165));
    bottom: 0;
    position: absolute;
}
div.transit :nth-child(1){
    animation: up 1.5s ease-out;
    left: 0;
}
div.transit :nth-child(2){
    animation: up2 1.5s ease-out;
    left: 12.5%;
}
div.transit :nth-child(3){
    animation: up3 1.5s ease-out;
    left: 25%;
}
div.transit :nth-child(4){
    animation: up4 1.5s ease-out;
    left: 37.5%;
}
div.transit :nth-child(5){
    animation: up5 1.5s ease-out;
    left: 50%;
}
div.transit :nth-child(6){
    animation: up6 1.5s ease-out;
    left: 62.5%;
}
div.transit :nth-child(7){
    animation: up7 1.5s ease-out;
    left: 75%;
}
div.transit :nth-child(8){
    animation: up8 1.5s ease-out;
    left: 87.5%;
}
}
#operation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    outline: none;
}
#slider {
    width: 2rem;
    height: 1.2rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(124, 124, 124);
    border-radius: 0.6rem;
    overflow: hidden;
    transition: 0.2s;
    left: 0.5rem;
}
#slider::before {
    content: '';
    position: absolute;
    height: 1.2rem;
    width: 1.2rem;
    background-color: rgb(209, 207, 207);
    border-radius: 50%;
    transition: 0.2s;
    left: 0;
}
#timer:checked + #slider {
    background-color: rgb(165, 50, 194);
}
#timer:checked + #slider::before {
    transform: translateX(0.8rem)
}
.check{
    width: 14rem;
    height: 2.5rem;
    color:#fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    letter-spacing: 4px;
    background-color: transparent;
    font-size:1rem;
    border: none;
    margin:0.4em;
    transition: transform 0.1s linear;
    background: rgba(255,255,255,0.1);
    overflow: hidden;
    position: relative;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 0.25rem 0.25rem rgba(0,0,0,0.2);
    outline: none;
}
 #timer {
     display: none;
 }
 input {
     outline:none;
 }
 input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
 }
 input[type=number] {
     -moz-appearance: textfield;
 }
 label {
     display: inline-block;
     outline: none;
 }
 #amount {
     display: inline-block;
     width: 30% ;
     height: 80%;
     font-size: 1rem;
     right: 0;
     background-color: rgba(0,0,0,0.2);
     text-align: center;
     color: white;
     border: none;
     outline: none;
 }
 .opr-container {
     position: fixed;
     width: 100%;
     height: 100%;
     backdrop-filter: blur(10px);
     display: none;
     flex-direction: column;
     opacity: 0;
     justify-content: center;
     align-items: center;
     background: transparent;
     z-index: 3;
     transition: 0.3s;
 }
 .inp {
    display: flex;
    justify-content: center;
    align-items: center;
}